# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Local env files
.env
.env.*
!.env.example